.page {
  font-size: 30px;
  color: #ffffff;
}

.projetos {
  font-family: "Allura", cursive;
  text-align: center;
}

.titulo {
  color: white;
  font-size: 25px;
}

.text {
  color: #ffffff;
  font-size: 25px;
}

.pudim {
  background: #1e1d30;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.6;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

* {
  text-align: center;
}

.lasanha {
  background: #1e1d30;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.6;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.fubá {
  background: #1e1d30;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.6;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
}
