html {
  background: green;
}
.page {
  font-size: 30px;
  color: yellow;
}

.projetos {
  font-family: "playfair display", serif;
  text-align: center;
}

.titulo {
  color: yellow;
  font-size: 20px;
  padding: auto;
  margin: auto;
}

.text {
  color: yellow;
  font-size: 20px;
  padding: auto;
  margin: auto;
}

.pudim {
  background: linear-gradient(to right, #009b3a, #ffdf00, #3e4095);
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.6;
  border: 2px solid yellowgreen;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: black;
}
* {
  text-align: center;
}

.lasanha {
  background: linear-gradient(to right, #009b3a, #ffdf00, #3e4095);
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.6;
  border: 2px solid yellowgreen;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: black;
}

.fubá {
  background: linear-gradient(to right, #009b3a, #ffdf00, #3e4095);
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.6;
  border: 2px solid yellowgreen;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: black;
}
