  html{
    background: rgb(0, 22, 0);
    text-align: center;
  }

  h1{
    border: 2px solid greenyellow;
    box-shadow: 3px 3px 5px greenyellow;
  }

  img{
    border: 2px solid greenyellow;
    box-shadow: 3px 3px 5px greenyellow;
  }

  .containerp {
    background: rgb(2, 43, 4);
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.6;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 100px;
    box-shadow: 3px 3px 5px greenyellow;
    color: wheat;
  }

  .box-one{
    border: 2px solid greenyellow;
    border-radius: 50px;
    padding: 20px;
    margin: 0px;
    box-shadow: 3px 3px 5px greenyellow;
    color: wheat;
    
  }

  .box-two{
    border: 2px solid greenyellow;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 3px 3px 5px greenyellow;
    color: wheat;
    width: 40%;
    display: inline-block;
  
  }

  .box-three{
    border: 2px solid greenyellow;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 3px 3px 5px greenyellow;
    color: wheat;
    width: 40%;
    display: inline-block;
  }

  .box-four{
    border: 2px solid greenyellow;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 3px 3px 5px greenyellow;
    color: wheat;
    width: 60%;
    display: inline-block;
  }


  .lasanha {
    background: rgb(2, 43, 4);
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.6;
    border: 2px solid rgb(2, 43, 4);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    color: wheat;
  }
  
  .fubá {
    background: rgb(2, 43, 4);
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.6;
    border: 2px solid rgb(2, 43, 4);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    color: wheat;
  }
  